*
{
    margin:0;
    padding:0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: green;
    text-align: center;
    box-shadow: 10px 4px 8px 0px rgb(0, 255, 33);
}
h1{
    text-align:center;
}
.container:hover {
    box-shadow: 50px 40px 80px 10px rgb(0, 255, 33);
}
.head #result{
    height:100px;
    width:350px;
    font-size:32px;
    text-align:right;
    padding:0 auto;
    letter-spacing:2px;
 
}
.btn{

    color:white;
    width:87px;
    height:50px;
    background-color:black;
}
.btn:hover{
    background-color:blueviolet;
    color:blue;
}
.btn-pink:hover{
    background-color:yellow;
}

